Repository Brendan-Reis-Test-Org/test, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Brendan-Reis-Test-Org/android-team, @Brendan-Reis-Test-Org/app-1, @Brendan-Reis-Test-Org/app-1-domain-a, @Brendan-Reis-Test-Org/app-1-domain-b

.github/CODEOWNERS:

/app/ @Brendan-Reis-Test-Org/android-team
/app/app1/ @Brendan-Reis-Test-Org/app-1
/app/app1/domainA @Brendan-Reis-Test-Org/app-1-domain-a
/app/app1/domainB @Brendan-Reis-Test-Org/app-1-domain-b

add nice.txt
  app/app1/domainA/nice.txt
Owners: @Brendan-Reis-Test-Org/app-1-domain-a

happybirthday initial commit
  hbd.txt
Owners: none

howdy partner
  app/app1/domainA/howdy.txt
Owners: @Brendan-Reis-Test-Org/app-1-domain-a

Test 3
  app/app1/domainA/nyoom.text
Owners: @Brendan-Reis-Test-Org/app-1-domain-a

test 4?
  app/app1/domainA/haley.txt
  app/topLevel.txt
Owners: @Brendan-Reis-Test-Org/app-1-domain-a, @Brendan-Reis-Test-Org/android-team
